.chart-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.chart-container svg {
  width: 100% !important;
  height: auto !important;
}

.chart-small {
  max-width: 100%;
  height: 100%;
}

